---
layout: default
---

    <div class="home">
    <div class="row">
        <div class="col-12">
        {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="title--align">السلام عليكم ورحمة الله وبركاته</h2>
						<h3 class="title--align">May the peace, mercy, and blessings of Allah be with you</h3>
        </div>
        <div class="col-6"><img src="{{
          "/assets/image/ramadan-mubarak-2019.png" | relative_url }}"
          alt="Ramadan Mubarak 2019"></div>
        <div class="col-6"><img src="{{
          "/assets/image/ramadan-masjid-2019.jpeg" | relative_url }}"
          alt="Ramadan Masjid Mubarak 2019"></div>
    </div>
        <div class="row">
        <div class="col-8">
        {%- if site.posts.size > 0 -%}
                <h2>{{ page.list_title | default: "News & Current Affairs" }}</h2>
                <ul class="post-list">
                {%- for post in site.posts -%}
                {%- unless post.categories contains 'vacancy'-%}
                <li>
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                    </h3>
                    {{ post.excerpt }}
                </li>
                {%- endunless -%}
                {%- endfor -%}
                </ul>

                <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
        {%- endif -%}

        </div>
        <div class="col-4">
          <h2>Quick links</h2>
          <p class="quick-link"><a href="{{ 'assets/image/ramadan-calendar-2019.jpeg' }}"><strong>Ramadan
            Calendar 2019</strong></a></p>
          <p class="quick-link"><a href="{{ 'assets/docs/ramadan-challenge-form-2019.pdf'
          }}"><strong>Ramadan Childrens Challenge PDF</strong></a></p>
          <h2>Madrasah</h2>
              <h3><a href="{{ '/madrasah/' | relative_url}}">Madrasah - latest
                news</a></h3>
              <p>Check on the latest changes in time/pricing for the madrasah.
              We are continuously updating this page. If you are unsure of
              Madrasah, please visit this page.</p>
              <h3><a href="{{ '/madrasah-team/' | relative_url}}">Meet the team</a></h3>
              <p>If you are curious about the qualifications of our teachers,
              be sure to check this page. Alhamdulilah we have been blessed
              with knowledgable Muslims of Islam.</p>

            <!-- <h2>Vacancies</h2>
            {%- if site.posts.size > 0 -%}
                {%- for post in site.posts -%}

                    {%- if post.categories contains 'vacancy' -%}
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                        <p><a href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
                        <p>{{post.excerpt}}</p>
                    {%- endif -%}

                {%- endfor -%}
            {%- endif -%}
        </div> -->
        </div>
    </div>
   <div class="row">
        <div class="col-6">
            <h3>Facilities we provide</h3>
            <p>We provide various facilities.</p>
            <ul>
              <li>Friday prayer</li>
              <li>Ramadan Taraweeh</li>
              <li>Iftar Programme</li>
              <li>Eid prayer</li>
              <li>Eid festival</li>
              <li>Madrasah for children</li>
              <li>Continuous Islamic events</li>
              <li>Development of local community</li>
              <li>Economic enhancement of the whole community</li>
            </ul>

        </div>
        <div class="col-6">
          <h3>What you can do and our goal</h3>
          <p>
          <ul>
            <li>Donate feesabilillah</li>
            <ul>
              <li>Donate to: <br>
                <p>Mark Gate Muslim Community<br>
                Account No: 14690357<br>
                Sort Code: 60-05-01<br>
                Natwest</p>
              </li> 
            </ul>
            <li>Aim to have a masjid to facilitate prayers</li>
          </ul>
          </p>
          <div>
          </div>

        </div>
